canvas {
    outline: 5px solid black;
    width: 50vw;
    
}

.cvswrap {
    display: flex;
      text-align: center;
      width: 100%;
      padding-left: 25vw;
    padding-right: 25vw;
  }

#clock {
    border: 5px solid black;
    font-family: "Segoe UI";
    margin: auto;
    display: block;
    position: absolute;
    padding-left: 10px;
    padding-right: 10px;
}